<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de projeto</title>
</head>
<body>

    <h1>Cadastro de Projeto</h1>

    <form method="post">

        <label>Nome do projeto:</label><br>
        <input type="text" name="nome_do_projeto"><br><br>

        <label>Data de inicio:</label><br>
        <input type="date" name="data_inicio"><br><br>

        <label>Data de termino:</label><br>
        <input type="date" name="data_final"><br><br>

        <button type="submit">Cadastrar</button>


    </form>

    

</body>
</html>
