<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de projeto</title>
</head>
<body>

    <h1>Cadastro de Projeto</h1>

    <form method="post">

        <label>Nome do projeto:</label><br>
        <input type="text" name="nome_projeto"><br><br>

        <label>Data de inicio:</label><br>
        <input type="date" name="data_inicio"><br><br>

        <label>Data de termino:</label><br>
        <input type="date" name="data_final"><br><br>

        <label>Responsável pelo projeto:</label><br>
        <select name="usuario_id" required>
            <option value="">Selecione um usuário</option>

            {% for u in usuarios %}
                <option value="{{ u[0] }}">{{ u[1] }}</option>
            {% endfor %}

        </select><br><br>

        <button type="submit">Cadastrar</button>

    </form>

</body>
</html>
